<section id="about" class="about js-animationOpacity">
  <div class="container about__flex-box">
    <h2 class="title about__title">Про мене</h2>
    <img
      class="about__photo"
      srcset="
        images/about/mobile/about.jpg              335w,
        images/about/desktop/about_519x662.jpg     519w,
        images/about/mobile/about@2x.jpg           670w,
        images/about/desktop/about_519x662@2x.jpg 1038w
      "
      sizes="(min-width: 1280px) 519px, 335px"
      src="images/about/mobile/about.jpg"
      alt="Психолог, молода дівчина в леопардовій сорочці, тримає книгу 'Ваша вагітність', сидячи за скляним столом"
    />
    <div class="about__text-box">
      <p>
        Практикуючий психолог-консультант з питань дитячої та перинатальної
        психології. <br />
        Спеціалізуюсь на роботі
        <span class="italic-font"
          >з жінками, з сімейними парами перед плануванням вагітності, з дітьми
          та підлітками, з вагітними та з жінками після пологів.</span
        >
      </p>
      <p>
        Допомагаю дітям і батькам знайти шлях до гармонійних взаємин, підтримки
        та збереження емоційного благополуччя.<br />
        Сучасні умови створюють низку складнощів, які можуть негативно впливати
        на нашу психіку наразі й у майбутньому та ускладнювати життєвий шлях.<br />
        Не відкладайте можливості записатися до психолога, якщо виникла
        потрібність.
      </p>
      <p>
        У роботі я використовую безліч сучасних методів: <br />
        Арт-терапія, метафоричні картки, ігрова терапія, казкотерапія,
        психодрама, а також працюю в когнітивно-поведінковому підході.
      </p>
    </div>
  </div>
</section>
