<section class="contacts">
  <div class="container">
    <h2 class="title">Контакти</h2>
    <div class="contacts__wrapper">
      <p class="contacts__quote">
        Якщо у Вас виникли питання, пов'язані з психологічним станом. Я допоможу
        розібратись в причинах та промалювати шляхи для усунення наслідків.
      </p>
      <img
        srcset="
          ../images/contacts/mobile/contacts.jpg    1x,
          ../images/contacts/mobile/contacts@2x.jpg 2x
        "
        src="../images/contacts/mobile/contacts.jpg"
        alt=""
      />
      <p class="contacts__subtitle">
        Зустрічі проходять у режимі онлайн та офлайн.
      </p>
      <div class="contacts__contact-box">
        <svg class="contact-box__icon">
          <use href="images/sprite.svg#map-pin"></use>
        </svg>
        <p class="contacts__contact">
          Живі зустрічі у місті Києві та в Крюківщині
        </p>
      </div>
      <div class="contacts__contact-box">
        <svg class="contact-box__icon">
          <use href="images/sprite.svg#call"></use>
        </svg>
        <a href="tel:+380931062951" class="contacts__contact"
          >+38 (093) 106-29-51</a
        >
      </div>
      <div class="contacts__contact-box">
        <svg class="contact-box__icon">
          <use href="images/sprite.svg#mail"></use>
        </svg>
        <a href="mailto:samoylovakristina19@gmail.com" class="contacts__contact"
          >samoylovakristina19@gmail.com</a
        >
      </div>
      <ul class="socials">
        <li>
          <a href=""
            ><svg class="socials__icon">
              <use href="images/sprite.svg#telegram"></use></svg
          ></a>
        </li>
        <li>
          <a href=""
            ><svg class="socials__icon">
              <use href="images/sprite.svg#whatsapp"></use></svg
          ></a>
        </li>
        <li>
          <a href=""
            ><svg class="socials__icon">
              <use href="images/sprite.svg#instagram"></use></svg
          ></a>
        </li>
        <li>
          <a href=""
            ><svg class="socials__icon">
              <use href="images/sprite.svg#tik-tok"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <button class="main-button">Записатися на консультацію</button>
  </div>
</section>
