<section class="education">
  <div class="container container_pr0">
    <h2 class="title">Освіта</h2>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_1@1x.jpg 1x,
              images/education/mobile/diploma_1@2x.jpg 2x
            "
            src="images/education/mobile/diploma_1@1x.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_2@1x.jpg 1x,
              images/education/mobile/diploma_2@2x.jpg 2x
            "
            src="images/education/mobile/diploma_2@1x.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_3.jpg    1x,
              images/education/mobile/diploma_3@2x.jpg 2x
            "
            src="images/education/mobile/diploma_3.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_4.jpg    1x,
              images/education/mobile/diploma_4@2x.jpg 2x
            "
            src="images/education/mobile/diploma_4.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_5.jpg    1x,
              images/education/mobile/diploma_5@2x.jpg 2x
            "
            src="images/education/mobile/diploma_5.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_6.jpg    1x,
              images/education/mobile/diploma_6@2x.jpg 2x
            "
            src="images/education/mobile/diploma_6.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_7.jpg    1x,
              images/education/mobile/diploma_7@2x.jpg 2x
            "
            src="images/education/mobile/diploma_7.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_8.jpg    1x,
              images/education/mobile/diploma_8@2x.jpg 2x
            "
            src="images/education/mobile/diploma_8.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_9.jpg    1x,
              images/education/mobile/diploma_9@2x.jpg 2x
            "
            src="images/education/mobile/diploma_9.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_10.jpg    1x,
              images/education/mobile/diploma_10@2x.jpg 2x
            "
            src="images/education/mobile/diploma_10.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_11.jpg    1x,
              images/education/mobile/diploma_11@2x.jpg 2x
            "
            src="images/education/mobile/diploma_11.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_12.jpg    1x,
              images/education/mobile/diploma_12@2x.jpg 2x
            "
            src="images/education/mobile/diploma_12.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_13.jpg    1x,
              images/education/mobile/diploma_13@2x.jpg 2x
            "
            src="images/education/mobile/diploma_13.jpg"
            alt=""
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              images/education/mobile/diploma_14.jpg    1x,
              images/education/mobile/diploma_14@2x.jpg 2x
            "
            src="images/education/mobile/diploma_14.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
