<section class="education js-animationOpacity">
  <div class="container">
    <h2 class="title">Освіта</h2>
    <div class="education__flex-box">
      <div class="swiper educationSwiper swiper_education">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_1.jpg     276w,
                images/education/desktop/diploma_1.jpg    411w,
                images/education/mobile/diploma_1@2x.jpg  552w,
                images/education/desktop/diploma_1@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_1@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_2.jpg     276w,
                images/education/desktop/diploma_2.jpg    411w,
                images/education/mobile/diploma_2@2x.jpg  552w,
                images/education/desktop/diploma_2@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_2@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_3.jpg     276w,
                images/education/desktop/diploma_3.jpg    411w,
                images/education/mobile/diploma_3@2x.jpg  552w,
                images/education/desktop/diploma_3@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_3@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_4.jpg     276w,
                images/education/desktop/diploma_4.jpg    411w,
                images/education/mobile/diploma_4@2x.jpg  552w,
                images/education/desktop/diploma_4@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_4@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_5.jpg     276w,
                images/education/desktop/diploma_5.jpg    411w,
                images/education/mobile/diploma_5@2x.jpg  552w,
                images/education/desktop/diploma_5@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_5@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_6.jpg     276w,
                images/education/desktop/diploma_6.jpg    411w,
                images/education/mobile/diploma_6@2x.jpg  552w,
                images/education/desktop/diploma_6@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_6@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_7.jpg     276w,
                images/education/desktop/diploma_7.jpg    411w,
                images/education/mobile/diploma_7@2x.jpg  552w,
                images/education/desktop/diploma_7@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_7@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_8.jpg     276w,
                images/education/desktop/diploma_8.jpg    411w,
                images/education/mobile/diploma_8@2x.jpg  552w,
                images/education/desktop/diploma_8@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_8@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_9.jpg     276w,
                images/education/desktop/diploma_9.jpg    411w,
                images/education/mobile/diploma_9@2x.jpg  552w,
                images/education/desktop/diploma_9@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_9@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_10.jpg     276w,
                images/education/desktop/diploma_10.jpg    411w,
                images/education/mobile/diploma_10@2x.jpg  552w,
                images/education/desktop/diploma_10@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_10@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_11.jpg     276w,
                images/education/desktop/diploma_11.jpg    411w,
                images/education/mobile/diploma_11@2x.jpg  552w,
                images/education/desktop/diploma_11@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_11@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_12.jpg     276w,
                images/education/desktop/diploma_12.jpg    411w,
                images/education/mobile/diploma_12@2x.jpg  552w,
                images/education/desktop/diploma_12@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_12@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_13.jpg     276w,
                images/education/desktop/diploma_13.jpg    411w,
                images/education/mobile/diploma_13@2x.jpg  552w,
                images/education/desktop/diploma_13@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_13@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>

          <div class="swiper-slide swiper-slide_education">
            <img
              srcset="
                images/education/mobile/diploma_14.jpg     276w,
                images/education/desktop/diploma_14.jpg    411w,
                images/education/mobile/diploma_14@2x.jpg  552w,
                images/education/desktop/diploma_14@2x.jpg 822w
              "
              sizes="(min-width: 1280px) 411px, 276px"
              src="images/education/mobile/diploma_14@1x.jpg"
              alt="Сертифікат про проходження психологічного курсу"
            />
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination_education"></div>
      </div>
      <div class="swiper__buttons">
        <svg class="button-back">
          <use href="images/sprite.svg#arrow-left-active"></use>
        </svg>
        <svg class="button-next">
          <use href="images/sprite.svg#arrow-right-active"></use>
        </svg>
      </div>
      <div class="education__thumb">
        <img
          class="education__photo"
          srcset="
            images/education/desktop/photo/photo.jpg    1x,
            images/education/desktop/photo/photo@2x.jpg 2x,
            images/education/desktop/photo/photo@3x.jpg 3x
          "
          src="images/education/desktop/photo/photo.jpg"
          alt="Психолог, молода дівчина у білій блузці та чорній спідниці, сидить на сірому дивані"
        />
      </div>
    </div>
  </div>
</section>
