<footer class="footer js-animationOpacity">
  <div class="container footer__pos">
    <ul class="footer__nav">
      <li><a href="#about">Про мене</a></li>
      <li><a href="#requests">Запити</a></li>
      <li><a href="#services">Ціни</a></li>
      <li><a href="#reviews">Відгуки</a></li>
      <li><a href="#contacts">Контакти</a></li>
    </ul>

    <p class="footer__copyright">&copy; Кристина Сидоренко 2024</p>
    <a
      class="button-up footer__button-up"
      href="#header"
      aria-label="Повернутися на початок сторінки"
    >
      <svg>
        <use href="images/sprite.svg#arrow-up"></use>
      </svg>
    </a>
  </div>
</footer>
