<header id="header" class="header">
  <div class="container">
    <button class="header__button-menu">
      <svg class="button-menu__icon">
        <use href="images/sprite.svg#burger"></use>
      </svg>
    </button>
    <ul class="header__nav">
      <li><a href="#about">Про мене</a></li>
      <li><a href="#requests">Запити</a></li>
      <li><a href="#services">Ціни</a></li>
      <li><a href="#reviews">Відгуки</a></li>
      <li><a href="#contacts">Контакти</a></li>
    </ul>
  </div>
</header>
