<section class="hero js-animationOpacity">
  <div class="container hero__flex-box">
    <div class="hero__images-box">
      <div class="images-box__item-photo">
        <img
          srcset="
            images/hero/mobile/hero1.jpg             160w,
            images/hero/desktop/hero1_247x331.jpg    247w,
            images/hero/mobile/hero1@2x.jpg          320w,
            images/hero/mobile/hero1@3x.jpg          480w,
            images/hero/desktop/hero1_247x331@2x.jpg 494w,
            images/hero/desktop/hero1_247x331@3x.jpg 741w
          "
          sizes="(min-width: 1280px) 247px, 160px"
          src="images/hero/mobile/hero1.jpg"
          alt="Психолог, молода дівчина з довгим каштановим волоссям у білій сорочці, посміхається і дивиться ліворуч на білому фоні"
        />
      </div>
      <div class="images-box__item-dino">
        <img
          srcset="
            images/hero/mobile/hero3.jpg             159w,
            images/hero/desktop/hero3_248x182.jpg    248w,
            images/hero/mobile/hero3@2x.jpg          318w,
            images/hero/mobile/hero3@3x.jpg          477w,
            images/hero/desktop/hero3_248x182@2x.jpg 496w,
            images/hero/desktop/hero3_248x182@3x.jpg 744w
          "
          sizes="(min-width: 1280px) 248px, 159px"
          src="images/hero/mobile/hero3.jpg"
          alt="Психолог, одягнений у білу вишиту сорочку, тримає в руках іграшкових динозаврів, демонструючи техніки роботи з дітьми"
        />
      </div>
      <div class="images-box__item-circle">
        <img src="images/circle.svg" alt="Надпис 'Шлях до гармонії та щастя'" />
      </div>
      <div class="images-box__item-paper">
        <img
          srcset="
            images/hero/desktop/hero2_248x219.jpg    1x,
            images/hero/desktop/hero2_248x219@2x.jpg 2x,
            images/hero/desktop/hero2_248x219@3x.jpg 3x
          "
          src="images/hero/desktop/hero2_248x219.jpg"
          alt="Психолог, одягнений у білу вишиту сорочку, тримає в руках жовті папірці демонструючи методики терапії з використанням арт-технік"
        />
      </div>
      <p class="images-box__item-text">Дитяча психологія</p>
    </div>
    <div class="hero__text-and-buttons-wrapper">
      <div class="hero__text-box">
        <h2 class="text-box__name">Кристина Сидоренко</h2>
        <h1 class="text-box__profession">
          Дитячий та перинатальний психолог. Арт-терапевт.
        </h1>
        <p class="text-box__quote">
          Проходимо шлях разом – конфіденційно та комфортно
        </p>
      </div>
      <a
        target="_blank"
        referrerpolicy="no-referrer"
        href="https://t.me/smlv_kristina"
        class="main-button hero__button_margin"
      >
        Записатися на консультацію
      </a>
      <ul class="socials hero__socials_center">
        <li>
          <a
            target="_blank"
            referrerpolicy="no-referrer"
            href="https://t.me/smlv_kristina"
            ><svg class="socials__icon">
              <use href="images/sprite.svg#telegram"></use></svg
          ></a>
        </li>
        <li>
          <a target="_blank" referrerpolicy="no-referrer" href=""
            ><svg class="socials__icon">
              <use href="images/sprite.svg#whatsapp"></use></svg
          ></a>
        </li>
        <li>
          <a
            target="_blank"
            referrerpolicy="no-referrer"
            href="https://www.instagram.com/psykrys?igsh=bnVsNHU3cWQwbHVw
"
            ><svg class="socials__icon">
              <use href="images/sprite.svg#instagram"></use></svg
          ></a>
        </li>
        <li>
          <a
            target="_blank"
            referrerpolicy="no-referrer"
            href="https://www.tiktok.com/@psychokrys?_t=8mFzJktHt37&_r=1
"
            ><svg class="socials__icon">
              <use href="images/sprite.svg#tik-tok"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
