<section class="hero">
  <div class="container">
    <div class="hero__images-box">
      <div class="images-box__item-photo">
        <img
          srcset="
            images/hero/mobile/hero1.jpg    1x,
            images/hero/mobile/hero1@2x.jpg 2x
          "
          src="images/hero/mobile/hero1.jpg"
          alt="Фото психолога"
        />
      </div>
      <div class="images-box__item-dino">
        <img
          srcset="
            images/hero/mobile/hero2.jpg    1x,
            images/hero/mobile/hero2@2x.jpg 2x
          "
          src="images/hero/mobile/hero2.jpg"
          alt="Фото рук з дитячою іграшкою"
        />
      </div>
      <div class="images-box__item-circle images-box__text-item">
        <img src="images/circle.svg" alt="Цитата" />
      </div>
      <div class="images-box__item-paper">
        <img src="images/hero/hero_3.jpg" alt="Фото рук з паперовою іграшкою" />
      </div>
      <div class="images-box__item-text images-box__text-item">
        Дитяча психологія
      </div>
    </div>
    <div class="hero__text-box">
      <h2 class="text-box__name">Кристина Сидоренко</h2>
      <h1 class="text-box__profession">
        Дитячий та перинатальний психолог. Арт-терапевт.
      </h1>
      <p class="text-box__quote">
        Проходимо шлях разом – конфіденційно та комфортно
      </p>
    </div>
    <button class="main-button hero__button_margin">
      Записатися на консультацію
    </button>
    <ul class="socials hero__socials_center">
      <li>
        <a href=""
          ><svg class="socials__icon">
            <use href="images/sprite.svg#telegram"></use></svg
        ></a>
      </li>
      <li>
        <a href=""
          ><svg class="socials__icon">
            <use href="images/sprite.svg#whatsapp"></use></svg
        ></a>
      </li>
      <li>
        <a href=""
          ><svg class="socials__icon">
            <use href="images/sprite.svg#instagram"></use></svg
        ></a>
      </li>
      <li>
        <a href=""
          ><svg class="socials__icon">
            <use href="images/sprite.svg#tik-tok"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
