<div class="mobile-menu">
  <div class="container">
    <svg class="mobile-menu__close-icon">
      <use href="images/sprite.svg#close"></use>
    </svg>
    <div class="mobile-menu__content-box">
      <ul class="mobile-menu__nav">
        <li><a href="#about">Про мене</a></li>
        <li><a href="#requests">Запити</a></li>
        <li><a href="#services">Ціни</a></li>
        <li><a href="#reviews">Відгуки</a></li>
        <li><a href="#contacts">Контакти</a></li>
      </ul>
      <ul class="socials">
        <li>
          <a
            aria-label="Телеграм психолога Кристини Сидоренко"
            target="_blank"
            referrerpolicy="no-referrer"
            href="https://t.me/smlv_kristina"
            ><svg class="socials__icon">
              <use href="images/sprite.svg#telegram"></use></svg
          ></a>
        </li>
        <li>
          <a
            aria-label="WhatsApp психолога Кристини Сидоренко"
            target="_blank"
            referrerpolicy="no-referrer"
            href="https://wa.me/+380931062951"
            ><svg class="socials__icon">
              <use href="images/sprite.svg#whatsapp"></use></svg
          ></a>
        </li>
        <li>
          <a
            aria-label="Instagram психолога Кристини Сидоренко"
            target="_blank"
            referrerpolicy="no-referrer"
            href="https://www.instagram.com/psykrys?igsh=bnVsNHU3cWQwbHVw"
            ><svg class="socials__icon">
              <use href="images/sprite.svg#instagram"></use></svg
          ></a>
        </li>
        <li>
          <a
            aria-label="TikTok психолога Кристини Сидоренко"
            target="_blank"
            referrerpolicy="no-referrer"
            href="https://www.tiktok.com/@psychokrys?_t=8mFzJktHt37&_r=1"
            ><svg class="socials__icon">
              <use href="images/sprite.svg#tik-tok"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
