<div class="mobile-menu">
  <div class="container">
    <svg class="mobile-menu__close-icon">
      <use href="../images/sprite.svg#close"></use>
    </svg>
    <div class="mobile-menu__content-box">
      <ul class="mobile-menu__nav">
        <li><a href="">Про мене</a></li>
        <li><a href="">Запити</a></li>
        <li><a href="">Ціни</a></li>
        <li><a href="">Відгуки</a></li>
        <li><a href="">Контакти</a></li>
      </ul>
      <ul class="socials">
        <li>
          <a href=""
            ><svg class="socials__icon">
              <use href="../images/sprite.svg#telegram"></use></svg
          ></a>
        </li>
        <li>
          <a href=""
            ><svg class="socials__icon">
              <use href="../images/sprite.svg#whatsapp"></use></svg
          ></a>
        </li>
        <li>
          <a href=""
            ><svg class="socials__icon">
              <use href="../images/sprite.svg#instagram"></use></svg
          ></a>
        </li>
        <li>
          <a href=""
            ><svg class="socials__icon">
              <use href="../images/sprite.svg#tik-tok"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
