<section id="requests" class="requests">
  <div class="container">
    <h2 class="title title_tac">Запити з якими я працюю</h2>
    <div class="requests__requests-box">
      <div class="requests-box__request-block">
        <p class="request-block__title">Жінкам</p>
        <ul class="request-block__request-list">
          <li class="request-list__request">
            Психологічна допомога з зачаттям
          </li>
          <li class="request-list__request">Планування вагітності</li>
          <li class="request-list__request">Батьківство</li>
          <li class="request-list__request">Усиновлення дітей</li>
          <li class="request-list__request">Безпліддя</li>
          <li class="request-list__request">
            «Я не почуваю себе вагітною» (ЕКЗ)
          </li>
          <li class="request-list__request">Підготовка та шлях ЕКЗ</li>
          <li class="request-list__request">Діти</li>
        </ul>
      </div>
      <div class="requests-box__request-block">
        <p class="request-block__title">Батькам</p>
        <ul class="request-block__request-list">
          <li class="request-list__request">Консультації щодо виховання</li>
          <li class="request-list__request">Важкість у спілкуванні з дітьми</li>
          <li class="request-list__request">Розлучення батьків</li>
          <li class="request-list__request">Дитячо-батьківські стосунки</li>
          <li class="request-list__request">Конфлікти в родині</li>
        </ul>
      </div>
      <div class="requests-box__request-block">
        <p class="request-block__title">Вагітним</p>
        <ul class="request-block__request-list">
          <li class="request-list__request">Тривога при вагітності</li>
          <li class="request-list__request">Нарождення дитити</li>
          <li class="request-list__request">Вагітність</li>
          <li class="request-list__request">Пологи</li>
          <li class="request-list__request">Самооцінка вагітних</li>
          <li class="request-list__request">Розвиток дитини до 1 року</li>
          <li class="request-list__request">Психоедукація після пологів</li>
          <li class="request-list__request">Збереження вагітності</li>
          <li class="request-list__request">Бейбі-блюз</li>
          <li class="request-list__request">
            Підготовка до партнерських пологів
          </li>
          <li class="request-list__request">Багатоплідна вагітність</li>
          <li class="request-list__request">Тривога при вагітності</li>
          <li class="request-list__request">Грудне вигодовування та прикорм</li>
          <li class="request-list__request">Вагітність після ЕКЗ</li>
          <li class="request-list__request request-smaller-padding">
            Психічний розвиток динити від 1 - 3 років
          </li>
          <li class="request-list__request">
            Психоедукація на всіх триместрах
          </li>
        </ul>
      </div>
      <div class="requests-box__request-block">
        <p class="request-block__title">Дітям та підліткам</p>
        <ul class="request-block__request-list">
          <li class="request-list__request">Нестабільна емоційна сфера</li>
          <li class="request-list__request">Самооцінка</li>
          <li class="request-list__request">Тривожність та горе</li>
          <li class="request-list__request">
            Дитяча агресія та порушення поведінки
          </li>
          <li class="request-list__request">Булінг у школі</li>
          <li class="request-list__request">Страхи</li>
          <li class="request-list__request">
            Відсутність інтересу до навчання
          </li>
          <li class="request-list__request">Труднощі в адаптації</li>
          <li class="request-list__request request-smaller-padding">
            Складнощі при спілкуванні з однолітками
          </li>
          <li class="request-list__request">Нав'язливі дії та рухи</li>
          <li class="request-list__request">Панічні атаки, напруга та фобії</li>
          <li class="request-list__request">Невпевненість в собі</li>
          <li class="request-list__request">Порушення особистих кордонів</li>
          <li class="request-list__request">Оцінка шкільної зрілості</li>
          <li class="request-list__request">
            Замкнутість при спілкуванні з рідними
          </li>
          <li class="request-list__request">
            Комплексна психологічна оцінка дитини
          </li>
          <li class="request-list__request">
            Виявлення основних потреб у дітей
          </li>
          <li class="request-list__request">
            Задоволення основних потреб у дітей
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
