<section id="reviews" class="reviews js-animationOpacity">
  <div class="container">
    <h2 class="title">Відгуки</h2>
    <div class="swiper reviewsSwiper swiper_review">
      <div class="swiper-wrapper swiper-wrapper_review swiper-wrapper-js"></div>
      <div class="swiper-pagination swiper-pagination-reviews"></div>
      <div class="swiper__buttons swiper__buttons_reviews">
        <svg class="button-back-reviews">
          <use href="images/sprite.svg#arrow-left-active"></use>
        </svg>
        <svg class="button-next-reviews">
          <use href="images/sprite.svg#arrow-right-active"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
