<section id="services" class="services js-animationOpacity">
  <div class="container">
    <h2 class="title">Мої послуги</h2>
    <ul class="services__services-list">
      <li class="services-list__service js-animationTransform">
        <div class="services__flex-box">
          <p class="service__title">Онлайн</p>
          <p class="service__text">
            Дорослі – <span class="service__text_bold">800 &#8372;</span>
          </p>
          <p class="service__text">
            Діти до 10 років –
            <span class="service__text_bold">600 &#8372;</span>
          </p>
          <p class="service__text">
            Діти від 10 років –
            <span class="service__text_bold">700 &#8372;</span>
          </p>
          <p class="service__text">
            Батьки та діти –
            <span class="service__text_bold">1000 &#8372;</span>
          </p>
          <p class="service__text">
            Розмова з батьками перед сесією 15-30 хв. –
            <span class="service__text_bold">100 &#8372;</span>
          </p>
        </div>
        <a
          target="_blank"
          referrerpolicy="no-referrer"
          class="main-button"
          href="https://t.me/smlv_kristina"
          >Записатися</a
        >
      </li>
      <li class="services-list__service js-animationTransform">
        <div class="services__flex-box">
          <p class="service__title">Офлайн</p>
          <p class="service__text">
            Дорослі – <span class="service__text_bold">900 &#8372;</span>
          </p>
          <p class="service__text">
            Діти до 10 років –
            <span class="service__text_bold">700 &#8372;</span>
          </p>
          <p class="service__text">
            Діти від 10 років –
            <span class="service__text_bold">800 &#8372;</span>
          </p>
          <p class="service__text">
            Батьки та діти –
            <span class="service__text_bold">1200 &#8372;</span>
          </p>
          <p class="service__text">
            Виїзд за домовленістю від
            <span class="service__text_bold">1000 &#8372;</span>
          </p>
        </div>
        <a
          target="_blank"
          referrerpolicy="no-referrer"
          class="main-button"
          href="https://t.me/smlv_kristina"
          >Записатися</a
        >
      </li>
      <li class="services-list__service js-animationTransform">
        <div class="services__flex-box">
          <p class="service__title">Пропозиція для сімей військових</p>
          <p class="service__text">
            Запрошую на безкоштовну консультацію дітей, дружин та жінок
            військових!
          </p>
          <p class="service__text">Залишайте свій запит і я звʼяжуся з Вами.</p>
        </div>

        <a
          target="_blank"
          referrerpolicy="no-referrer"
          class="main-button"
          href="https://docs.google.com/forms/d/e/1FAIpQLSfjTt2vux991zQ5KfqLWIbyM7iRf_Pn-Kdgx9n0n3bH-uS4uA/viewform?usp=sharing"
          >Записатися</a
        >
      </li>
      <li class="services-list__service js-animationTransform">
        <div class="services__flex-box">
          <p class="service__title">Мій телеграм канал для батьків</p>
          <p class="service__text">"Батьківський кодекс"</p>
          <p class="service__text">
            Тут ви знайдете усе, що потрібно для щасливого та здорового розвитку
            вашої дитини.
          </p>
        </div>

        <a
          target="_blank"
          referrerpolicy="no-referrer"
          class="main-button"
          href="https://t.me/bat_code"
          >Доєднатися</a
        >
      </li>
    </ul>
  </div>
</section>
