.about {
  padding-block: 40px;
}

.about__photo {
  min-width: 335px;
  margin-bottom: 16px;
}

.about__text-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
