.contacts {
  padding-block: 40px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

.contacts__quote {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.contacts__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}

.contacts__contact-box {
  display: flex;
  gap: 12px;
  align-items: center;
}

.contact-box__icon {
  width: 24px;
  height: 24px;
}
