.education {
  padding-block: 40px;
}

.swiper_education {
  height: 436px;
}

.swiper-slide_education {
  height: 197px !important;
}

.swiper-pagination {
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #9cb99c !important;
}
