@use "../abstracts/mixins" as mixins;

.requests {
  min-width: 375px;
  padding-block: 40px;

  background-color: var(--second-background);
}

.title_tac {
  text-align: center;
}

.requests__requests-box {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@include mixins.desktop {
  .requests-box__request-block {
    display: flex;
    align-items: center;
    gap: 24px;

    &:nth-last-child(-n + 2) li:nth-last-child(1) {
      flex-grow: 0;
    }
  }
}

.request-block__title {
  margin-bottom: 16px;
  border-radius: 24px;
  padding: 12px 16px;

  color: var(--main-background);
  background-color: var(--main-text-color);

  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  text-align: center;

  @include mixins.desktop {
    margin-bottom: 0;
    min-width: 212px;
    min-height: 52px;
    padding-inline: 0;
    font-size: 20px;
  }
}

.request-block__request-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @include mixins.desktop {
    gap: 12px;
  }
}

.request-list__request {
  outline: var(--main-text-color) solid 1px;
  border-radius: 24px;
  padding: 12px 10px;

  flex-grow: 2;

  background-color: var(--main-background);

  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;

  @include mixins.desktop {
    // font-weight: 500;
    font-size: 16px;
  }
}
