.reviews {
  padding-block: 40px;
}
// .swiper_review {
//   height: 285px;
// }

.slide-review {
  border: 2px solid var(--main-text-color);
  border-radius: 12px;
  padding: 24px;
  //   height: 259px !important;
}

.slide-review__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 12px;
}

.slide-review__review {
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.slide-review__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #868686;
}
