@use "../abstracts/mixins" as mixins;

.reviews {
  position: relative;
  padding-block: 80px;
}

.slide-review {
  border: 2px solid var(--main-text-color);
  border-radius: 12px;
  padding: 24px;

  @include mixins.desktop {
    display: flex !important;
    flex-direction: column;
    min-height: 300px !important;
  }
}

.slide-review__name {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;

  @include mixins.desktop {
    font-size: 18px;
  }
}

.slide-review__review {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  @include mixins.desktop {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
  }
}

.slide-review__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #868686;

  @include mixins.desktop {
    margin-top: auto;
    font-size: 14px;
  }
}

.swiper-pagination-reviews {
  margin-top: 16px;
  position: relative !important;
}

.swiper__buttons_reviews {
  position: relative;
  left: 0;
  justify-content: center;
}
