@use "../abstracts/mixins" as mixins;

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials__icon {
  width: 32px;
  height: 32px;

  @include mixins.desktop {
    width: 40px;
    height: 40px;
  }
}
