.footer {
  position: relative;
  min-width: 375px;

  padding-block: 40px;
  background-color: var(--second-background);
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.footer__copyright {
  font-weight: 500;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
}
